root {
    --color-one: #9e0d0d;
    --color-two: #003f6d;
    --color-three: #b5830d;
    --color-four: #ad2944;
}

body {
    background-color: black!important;
}

/* Navbar */

.nav-section {
    position: fixed!important;
    top: 0px!important;
    width: 100%!important;
    margin-top: 0px!important;
    z-index: 100;
}

nav {
    padding: 0px!important;
    box-shadow: 0 0px 9px rgb(0 0 0 / 0.7)!important;
}

.logo-nav {
    width: 60px;
    height: 60px;
}

.navbar {
    width: 100%;
    background-color: #ad2944;
}

.navbar-list {
    align-items: center !important;
    margin: auto!important;
}

.navbar-entry {
    margin: auto;
}

/* Image */

.image-section {
    padding: 0px!important;
    margin-top: 50px;
    height: 100vh;
}

.image-text {
    position: absolute;
    color: white;
    display: flex!important;
    align-items: center!important;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.image-text > h1 {
    font-size: 3rem;
}

.transparent-icon {
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
}

.image-wrapper {
    padding: 0px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center;
}

.body-img {
    height: 100vh;
    width: 100%;
}

/* Social Media */

.social-media-section {
    height: 90vh;
    width: 100%!important;
    color: white;
    display: flex!important;
    justify-content: center!important;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.social-media-icons {
    width: 100%;
    display: flex;
}

.social-media-icons > li {
    margin: auto;
    list-style: none;
}

.icon-wrapper > i {
    font-size: 3rem;
}

.icon-wrapper:hover {
    color: white;
}

/* öffnungszeiten */

.öffnungszeiten-section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.öffnungszeiten-text-wrappper {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.öffnungszeiten-header {
    margin-bottom: 40px;
}

.öffnungszeiten-body {
    display: flex;
    align-items: center;
}

.öffnungszeiten-location > a {
    color: white;
}

.öffnungszeiten-location > a:hover {
    color: white;
}

.öffnungszeiten-time > ul > li {
    list-style: none;
}

/* kontact */


.kontakt-section {
    height: 90vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
